
 /* common */
  .clfix:after {content: "."; display: block; height:0px; clear: both; visibility: hidden;}
  .clfix {display:inline-block;}
  .clfix {display:block;}
  * html .clfix {height:1%;} /* Hides from IE-mac */
  .clfix {zoom:1;} /*for IE 5.5-7*/