@charset "UTF-8";

@media all and (max-width:1200px){ /* 타블렛 크기용 이미지로 변경 */
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-gap .slide-text {z-index:4;position:relative;top:40%;left:3%;text-align:center;width:100%;}
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-gap .slide-text h3 {color:#fff;font-size:3rem;padding-bottom:20px;}
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-gap .slide-text h2 {color:#ff4646;font-size:3.5rem;font-weight:700;padding-bottom:10px;}

}

@media all and (max-width:1000px){ /* 기존 헤더 X -> 모바일용 헤더 */
    #header .first-nav {z-index:3;position:fixed;top:0;left:0;width:100%;height:75px;background:#fff;box-shadow: 0px 10px 20px rgba(0,0,0, .15);}
    #header .first-nav .container {padding:0 50px;}
    #header .first-nav .container .logo-wrap {padding:10px 0;}
    #header .first-nav .container .logo-wrap h1 {text-align:left;}
    #header .first-nav .container .address-wrap {display:none;}
    #header .first-nav .hamburger a {display:block;}

    #header .second-nav.addBtn {z-index:2;position:fixed;top:75px;left:0;width:100%;height:100%;background:#fff;text-align:center;}
    #header .second-nav .close-wrap {display:none;}
    #header .second-nav .container h2 {display:none;}
    #header .second-nav .container ul {top:10%;}
    #header .second-nav .container .address-wrap-mobile a {display:block;}

    #header .arrow-wrap {display:none;}

    #main #section01 {margin-top:75px;}

    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-gap {max-width:1600px;width:100%;height:100%;margin:0 auto;}
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-gap .slide-text {z-index:4;position:relative;top:30%;left:0;text-align:center;}
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-gap .slide-text h3 {color:#ff4646;font-size:2.5rem;padding-bottom:20px;}
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-gap .slide-text h2 {color:#fff;font-size:4rem;font-weight:700;padding-bottom:10px;}
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-gap .slide-text i {display:inline-block;width:40px;height:2px;background:#ff4646;margin-bottom:5px;}
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-gap .slide-text span {display:inline-block;width:160px;height:40px;margin:0 auto;border:1px solid #ff4646;}
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-gap .slide-text span a {display:inline-block;width:100%;height:100%;background:transparent;color:#ff4646;font-size:24px;text-align:center;font-weight:700;line-height:150%;}
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-gap .slide-text span:hover a {background:#ff4646;color:#000;}

    /* 포트폴리오 페이지 텍스트 넓이 조정 */
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-gap {margin-left:0;}
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 .slide-gap {margin-left:0;}
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 .slide-gap {margin-left:0;}
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 .slide-gap {margin-left:0;}
    #main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide5 .slide-gap {margin-left:0;}

    #main #section01 .wrap .gap .container .slide-container .page-btn-wrap {display:none;}

}